html, body
{
	font-family: 'Roboto', 'Sans Serif' !important;
	max-height: 100vh;
	position: relative;
	background-color: #FFD945;
}

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::after, *::before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}






/* Set the background image sources */
#newyork { background-image: url("../_assets/img/newyork.jpg"); }
#buenosaires { background-image: url("../_assets/img/buenosaires.jpg"); }
#paris { background-image: url("../_assets/img/paris.jpg"); }
#capetown { background-image: url("../_assets/img/capetown.jpg"); }
#seoul { background-image: url("../_assets/img/seoul.jpg"); }
#sydney { background-image: url("../_assets/img/sydney.jpg"); }
/* Background settings */
.demo-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Transparent footer */
.demo-page .ui-footer {
	background: none;
	border: none;
	bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.control.ui-btn-left,
.trivia-btn.ui-btn-right {
	top: auto;
	bottom: 7px;
	margin: 0;
	border: none;
}
/* Custom styling for the trivia source */
small {
	font-size: .75em;
	color: #666;
}


/*
.student
{
	position: absolute;
	top: 0;
	left:;
}
*/





.centerHorizontal-centerVertical
{
	/*display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	/*text-align: center;*/
	/*align: center;*/
	width: 200px;
}

button
{
	/*display: inline-block;*/
	left: -50%;
}

a
{
	text-decoration: none;
}

#header
{
	height: 40px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#footer
{
	/*height: 40px;*/
	display: flex;
	position: relative;
}

h1
{
	display: inline-block !important;
}

h1:nth-child(2) {
    margin-left: 20px;
}

img
{
	width: 100%;
	border: solid 1px #000;
}

.ui-block-a, .ui-block-b, .ui-block-c
{
	padding: 3px 5px;
}

.ui-content
{
	/*max-height: 100%;*/
}

.ui-grid-b
{
	position: relative;
}
.ui-grid-bfdfdfsfdsfds
{
	position: fixed;
    top: 50%; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   /* IE 9 */
    -webkit-transform: translate(-50%, -50%);   /* Chrome, Safari, Opera */
}

.ui-grid-wrapper
{
	position: relative;
}
.ui-grid-wrapperfdfdfdfd
{
	width: 100%;
	/*height: 100%;*/
	padding: 10% 3% 10% 3%;
}